<%= semantic_form_for @book do |f| %>

	<%= f.input :title, :required => true %>
	<%= f.input :author, :required => true%>
	<%= f.input :publish_date, as: :string%>
	<%= f.input :page_count %>

	<div class="text-right">
		<%= f.submit class: 'btn btn-info' %>
	</div>
	
<% end %>