<div class="row">
	<div class="col-md-12">
		
		<h3 class="page-header text-info"><%=@book.title %></h3>
		<br>

		<div class="form-group">
	    <label class="col-sm-2 control-label">Author:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.author%></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>

 		<div class="form-group">
	    <label class="col-sm-2 control-label">Publish date:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.publish_date %></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>
 		
 		<div class="form-group">
	    <label class="col-sm-2 control-label">Page count:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.page_count %></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>
		
		<%unless @read%>
			<div class="text-right">
				<span><%= link_to "Read", read_book_path, method: :patch, class: 'btn btn-sm btn-success'%></span>
			</div>
			
			<br>
		<%end%>

		<h4 class="page-header">Comments:</h4>

			<%@book.comments.each do |comment| %>
				<blockquote>
				  <p><%=comment.comment%></p>
				  <footer><%=comment.user.full_name %></footer>
				</blockquote>
			<% end %>
		
		<div class="text-right">
			<%= link_to "Add comment", new_book_comment_path(@book), class: 'btn btn-info'%>
		</div>

		<h4 class="page-header">Read by:</h4>
		<p><%=@book.users.map(&:name).to_sentence%></p>
	</div>
<div>