<!DOCTYPE html>
<html>
<head>
  <title>Curso</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">

		
		<div class="row">
			<div class="col-md-12">
				<div class="text-right">
					<%=link_to "Sign Out", session_path(1), method: :delete%>
				</div>
			</div>
		</div>

		<%= render :partial => "shared/messages" %>

		<%= yield %>

	<div>
	<br><br>
</body>
</html>
